@import "tailwindcss";

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #000;
}

@font-face {
    font-family: "GT";
    src: url(../public/fonts/GTSectraDisplay-Regular.woff2);
}
::-webkit-scrollbar{
    display: none;
}